.htaccess
www.ponabana.dev/resources-ignore/
www.ponabana.dev/wp-config.php
www.ponabana.dev/wp-content/uploads/
www.ponabana.dev/wp-content/blogs.dir/
www.ponabana.dev/wp-content/upgrade/
www.ponabana.dev/wp-content/backup-db/
www.ponabana.dev/wp-content/advanced-cache.php
www.ponabana.dev/wp-content/wp-cache-config.php
www.ponabana.dev/sitemap.xml
*.log
www.ponabana.dev/wp-content/cache/
www.ponabana.dev/wp-content/backups/
sitemap.xml.gz
